---
layout: archive
title: "Teaching &amp; Resources"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>I have found that I learn much better by writing about the topics I'm studying. During my preparation for qualifying exams, I wrote several "engineering summaries". As others were preparing, they often found these summaries helpful. I'll provide them here in the hope that they will be useful to others as well (as I finish making sure the content follows copyright). If you find any explanation incorrect, please let me know so I can correct it.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
